.page-menu-style {
    border-top: solid gray 2px;
}

.hero-title span {
    white-space: nowrap;
}

.home-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.page-event-header h1, .page-event-header p {
    text-align: center;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px #F8F8F8;
    text-shadow: 0px 1px 3px #23430C;
}

.page-event-header h1 {
    font-size: 1.8rem;
}

.page-event-header p.page-subtitle {
    font-size: 1.5rem;
}


.wg-markdown h1, .page-body h1 {
    margin: 1em 0 1em 0;
    text-align: center;
}
.wg-markdown h2, .page-body h2 {
    margin: 2em 0 1em 0;
    border-bottom: solid lightblue 4px;
}

div.people-widget h2 {
    border: none;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
