{{ if .Params.page_menu }}
<header>
  <span class="js-widget-page d-none"></span>
  <nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar page-menu-style" id="navbar-page-menu">
    <div class="container-xl">

      {{ if .Params.page_menu.title }}
      <div>
        <a class="navbar-brand" href="{{ .RelPermalink }}">
        {{- if .Params.page_menu.logo -}}
          <img src="{{ .Params.page_menu.logo.RelPermalink }}" alt="{{ .Params.page_menu.title }}"
          {{with site.Params.header.image.width}}width="{{.}}"{{end}}
          {{with site.Params.header.image.height}}height="{{.}}"{{end}}>
        {{- else -}}
          {{- .Params.page_menu.title -}}
        {{- end -}}
        </a>
      </div>
      {{end}}

      <button type="button" class="navbar-toggler" data-toggle="collapse"
              data-target="#page-menu-content" aria-controls="page-menu-content" aria-expanded="
false" aria-label="{{ i18n "toggle_navigation" }}">
      <span><i class="fas fa-bars"></i></span>
      </button>

      <div class="navbar-collapse main-menu-item collapse justify-content-end" id="page-menu-content">
        <ul class="navbar-nav d-md-inline-flex">

          {{ $menu_list := slice }}
          {{ if .Params.page_menu.list }}
            {{ $menu_list = .Params.page_menu.list }}
          {{ else }}
            {{ $pages := site.GetPage .File.Path }}
            {{ if $pages }}
              {{ range $index, $block := where ( $pages.Resources.ByType "page" ) ".Params.active" "!=" false }}
                {{ $id := replace $block.File.ContentBaseName "index" (path.Base .File.Dir) }}
                {{ $menu_list = $menu_list | append (dict "name" .Title "link" (printf "#%s" $id) ) }}
              {{ end }}
            {{ end }}
          {{ end }}

          {{ range $menu_list }}
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{{ relref $ .link }}">
            <span>{{ .name }}</span>
            </a>
          </li>
          {{ end }}

        </ul>

      </div>
    </div>
  </nav>
</header>
{{ end }}
